# Binaries
**/bin/
bin-int/
UserSettings/
Logs/
Library/
obj/
Temp/
Assets/Resources

# Visual Studio files and folder
.vs/
.vsconfig
**.csproj
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.ini
**.exe